@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}

html {
    scroll-behavior: smooth;
    font-size: calc(12px + 0.390625vw);
    font-family: 'Delicious Handrawn', cursive;
}




.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}


/* Header navBar */

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    height:5vh;

}

header a {
    text-decoration: none;
    color: white;
    user-select: none;
    transition: .2s ease;


}

header ul {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    list-style-type: none;
}

header a:hover {
    color: #d35d468c;
    transition: .9s;
}

.links {
    position: fixed;
    display: flex;
    gap: .1rem;
    right: 2vw;

}

.links img {
    width: 20px;
    height: 20px;

}


.langmodel button {
    border: none;
    position: fixed;
    top: 0;
    border-radius: 50%;
    left: 50%;
    margin-top: 1rem;
}


#lang img {
    width: 54px;
    height: 54px;
}


/* Sections global */

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: 400;
}


/* Home Page  */

#Home {
    background-color: green;
    /* background: url('assets/images/bh.png') no-repeat center center fixed; */
    background-color: yellow;
    background-size: cover;

}

#Home h1 {
    font-weight: 400;
    z-index: 1;


}



#Home h4 {
    font-weight: 400;
    z-index: 1;

}


/* Project Page */

#Projects {
    background: linear-gradient(to left bottom, #582e43, #a641388f);


}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: .4rem;

}

/* h1 p */
.projects-card {
    display: inline-flex;
    background: linear-gradient(to bottom right, rgba(236, 241, 241, 0.671), rgba(250, 250, 250, 0.705));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    font-family: 'Poppins', sans-serif;
    transition: .6s ease;
    color:black;
    flex-direction: column;
    flex-basis: 45px;
    width: 80vw;
    flex-grow:1;
    text-align: center;
}

.button-holder{
    margin-top:auto;
    margin-bottom:.3rem;
}

.button-holder button{
    color:white;
    border:none;
    padding:.4rem;
    background-color: rgb(36, 93, 168);
}





.projects-card button:hover {
    cursor: pointer;
}

.projects-card a {
    text-decoration: none;
    color: white;
}


.projects-card:hover {
    transition: .6s ease;
    transform: scale(103%);
}

.projects-card:nth-child(3) {
    background: linear-gradient(to bottom right, rgba(201, 176, 37, 0.993), rgba(250, 250, 250, 0.705));
}

.projects-card:nth-child(5) {
    background: linear-gradient(to bottom right, rgba(201, 176, 37, 0.993), rgba(250, 250, 250, 0.705));
}

.projects-card:nth-child(4) {
    background: linear-gradient(to bottom right, rgba(201, 176, 37, 0.993), rgba(250, 250, 250, 0.705));
}








/* About Page */

#About {
    border: solid 1px rgba(255, 255, 255, 0.664);
    display: flex;
    text-align: center;
    color: black;
    font-family: 'Poppins', Times, serif;
    background: linear-gradient(to left top, #9E9CB2, #D1B8B5);


}

#About img {
    width: 20px;
    height: 20px;
}

#About p{
    max-width:90%;
}

.icons {
    display: flex;

}

.icons img {
    width: 24px;
    height: 24px;
}


/* CV Page */

#Cv {
    background: linear-gradient(to left bottom, #582e43, #A64238);
}


#cv-bild {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}


.cv-container {
    width: 99%;
    margin-top:auto;
    max-height: 90vh;
    display: flex;
    justify-content: flex-end;
    transition: .4s ease;




}


.main-content {
    display: flex;
    background-color: #fcf7f9;
    width: 100%;
    color: black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow-y:scroll;


}

.header-cv {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;

}

.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.card-content{
    padding:1rem;
}






.card-content h6 {
    font-weight: 400;
    color: rgba(128, 128, 128, 0.781);
}

worktitle {

    font-weight: 800;
}




.sidebar {
    background-color: rgb(19, 35, 75);
    min-width:28vw;
    color: white;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow-y:scroll;

}

.sidebar a {
    text-decoration: none;
    color: rgb(31, 201, 158);
    transition: .4s ease;
}

.sidebar a:hover {
    color: rgb(236, 236, 241);
    transition: .4s ease;
}

.bar {
    width: 80%;
    background-color: rgba(128, 109, 109, 0.507);
    height: .5rem;
    border-radius: 1rem;
}

.barfill-swedish {
    width: 100%;
    background-color: white;
    height: .5rem;
    border-radius: 1rem;
}

.barfill-english {
    width: 60%;
    background-color: white;
    height: .5rem;
    border-radius: 1rem;
}

.sidebar side-card:nth-child(1) {
    margin-top: 2rem;
}

.side-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastcard-sidebar {
    margin-top: 3rem;
}


/* Small devices galaxy fold etc */
@media screen and (max-width:280px){
    html{
        font-size:.6rem;
    }
    .projects-card{
        width:90%;
    }


    #About p{
        width:90%;
    }
}


@media screen and (min-width:1750px){
    .project-container{
        flex-direction: row;
        margin: auto 3rem;
        gap:1rem;
    }

    .card-header{
        height: 10vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }


    .links{
        gap:.5rem;
    }
    .links img {
        width: 30px;
        height: 30px;

    }
    .projects-card{

        font-size:.9rem;

        min-height:35vh;
    }

    #About p{
        width:50%;
    }

    .cv-container{
        max-width:90%;
        margin:0;
    }

    .main-content{
        padding-left:.3rem;
        word-wrap:break-word;
        overflow-x: hidden;
    }
    .card-content{
        padding:0;
        padding-left:2rem;
        font-size:.9rem;
    }


    .sidebar{
        overflow-y: scroll;
    }




}




/*
MOBILE MENU
.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    margin-top: .2rem;
    transition: .6 ease;
}

.mobile-menu button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    padding: .5rem;
    cursor: pointer;
}

.mobile-menu button:hover {
    color: white;
}

#menu {
    list-style-type: none;
    display: none;
    font-size: .7rem;
    border-radius: .3rem;
    gap: 1rem;
    flex-direction: row;



}

#menu a {
    text-decoration: none;
    color: white;
    transition: .4s ease;
}

#menu a:hover {
    text-decoration: none;
    color: #d35d468c;
    transition: .4s ease;
    cursor: pointer;
}
*/




